html, body {
    color: white;
    background-color: #020315;
    text-align: center;
    height: 100%;
    width: 100%;
    font-family: 'johnston_itc_stdbold';
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'johnston_itc_stdbold';
    src: url('johnston-itc-std-bold-webfont.woff2') format('woff2'),
         url('johnston-itc-std-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'johnston_itc_stdmedium';
    src: url('johnstonitcstd-medium-webfont.woff2') format('woff2'),
         url('johnstonitcstd-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}